DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestiondocumental_mvp
DB_USER=postgres
DB_PASSWORD=postgres123

STORAGE_DIR=./storage
INPUT_DIR=./storage/input
OUTPUT_DIR=./storage/output
OCR_TMP_DIR=./storage/tmp/ocr

POPPLER_PATH=
USE_OCR=0
STRICT_FACTURA_CLIENTE=1
